<h1>All Pets</h1>

<% @pets.each do |pet|%>
  <p> Shelter: <%= (@shelter.find(pet.shelter_id)).name%></p><br>
  <p> Picture: <img src=<%= pet.image%> width=250></p><br>
  <p> Name: <%= pet.name%></p><br>
  <p> Age: <%= pet.age%></p><br>
  <p> Sex: <%= pet.sex%></p><br>
<%end%>
