<h1>Shelters</h1>

<a href="/shelters/new">New Shelter</a>



<% @shelters.each do |shelter| %>
  <div>
  <p><a href="/shelters/<%= shelter.id %>"> <b><%= shelter.name %></b></a> <br>
  <%= shelter.address %><br>
  <%= shelter.city %>, <%= shelter.state %><br>
  <%= shelter.zip %></p>
  </div>
<% end %>
